 AMASON.COM
 <%= link_to '商品追加', products_path %> 
 <%= flash[:danger] %>
 <% @products.each do |product| %>
<p>
  <%= product.name %>
  <%= product.price %>円
  <%= form_tag cartitems_path(product_id: product.id), method: :post do %>
  <%= number_field_tag :qty %>個
  <%= submit_tag 'カートに入れる' %>
  <% end %>
</p>
<% end %>
<br>
<%= link_to 'カートの中', carts_path %> 