<table border="1" >
<tr>
<th>商品</th>
<th>値段</th>
<th>個数</th>
<th>削除</th>
</tr>
<% @cartitems.each do |cartitem| %>
<tr>
<td><%= cartitem.product.name %></td>
<td><%= cartitem.product.price %>円</td>
<td><%= cartitem.qty %>個</td>
<td><%= link_to '商品の削除', cartitem_path(cartitem.id), method: :delete %></td>
</tr>
<%end%>
</table>
<p>
総額<%= @total_price %>円
</p>
<%= link_to '戻る', "/"%>
