<%= link_to '新規追加', new_product_path %> 
<% @products.each do |product| %>
<p>
  <%= product.name %>
  <%= product.price %>円
  <%= link_to '商品の削除', "carts_path#{product.id}", method: :delete %>
</p>
<% end %>
<%= link_to '戻る', "/"%>